* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
}

input[type='file'] {
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering: left;
}
input[type='file']::-webkit-file-upload-button {
    -webkit-appearance: none;
    float: right;
    margin-right: -10px;
    margin-top: 7px;
    border: 2px solid #000000;
    background: #dee0e3;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    width: 122px;
    height: 30px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#d2d0d0),
        to(#f0f0f0)
    );
    background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}
